p {
  color: blue;
  font-family: Courier New, Courier, monospace;
  font-weight:bold;
  text-decoration: underline;
  font-style: italic;
  border: 2px solid purple;
}

.page-title:nth-of-type(2) { color: red; }

h1 { color: green; }

